<form action="/sign-up" method="POST">
  {% csrf-field %}
  {% if sign-up-errors|not-empty %}
    <div class="alert alert-warning" role="alert">
      {% for error in sign-up-errors %}
          {{error}}
          <br />
      {% endfor %}
    </div>
  {% endif %}
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="name" class="form-control" name="name" placeholder="Nome Completo" value="{{user.name}}">
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" name="email" placeholder="seuemail@exemplo.com" value="{{user.email}}">
  </div>
  <div class="form-group">
    <label for="password">Senha</label>
    <input type="password" class="form-control" name="password" placeholder="suasenha">
  </div>
  <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
